<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <atlasFormatSpecificSettings>
        <garminCustomMaxMapCount>100</garminCustomMaxMapCount>
    </atlasFormatSpecificSettings>
    <bandwidthLimit>0</bandwidthLimit>
    <coordinateNumberFormat>DEG_LOCAL</coordinateNumberFormat>
    <customProxyHost></customProxyHost>
    <customProxyPassword></customProxyPassword>
    <customProxyPort></customProxyPort>
    <customProxyUserName></customProxyUserName>
    <customTileSize>false</customTileSize>
    <devMode>false</devMode>
    <directories>
        <chartBundleOutputDirectory>C:\Users\Public\Documents\OSMCB Bundles</chartBundleOutputDirectory>
        <tileStoreDirectory>C:\Users\Public\Documents\OSMCB Tiles</tileStoreDirectory>
        <catalogsDirectory>C:\Users\Public\Documents\OSMCB Catalogs</catalogsDirectory>
    </directories>
    <downloadRetryCount>1</downloadRetryCount>
    <downloadThreadCount>2</downloadThreadCount>
    <elementName>L</elementName>
    <googleLanguage>en</googleLanguage>
    <gpxFileChooserDir></gpxFileChooserDir>
    <httpConnectionTimeout>10</httpConnectionTimeout>
    <httpReadTimeout>10</httpReadTimeout>
    <ignoreDlErrors>false</ignoreDlErrors>
    <localeCountry></localeCountry>
    <localeLanguage>en</localeLanguage>
    <mainWindow>
        <size>800/590</size>
        <position>-1668/-205</position>
        <maximized>true</maximized>
        <leftPanelVisible>true</leftPanelVisible>
        <rightPanelVisible>true</rightPanelVisible>
        <collapsedPanels>
            <collapsedPanel>Coordinates</collapsedPanel>
        </collapsedPanels>
    </mainWindow>
    <mapOverlapTiles>1</mapOverlapTiles>
    <mapSourcesDisabled/>
    <mapSourcesEnabled>
        <mapSource>4uMaps</mapSource>
        <mapSource>AH OSM DE</mapSource>
        <mapSource>AH OpenSeaMap - Mapnik</mapSource>
        <mapSource>Custom OSM Mapnik</mapSource>
        <mapSource>FAA Sectional Charts</mapSource>
        <mapSource>FreemapSlovakia</mapSource>
        <mapSource>FreemapSlovakiaCyclo</mapSource>
        <mapSource>FreemapSlovakiaHiking</mapSource>
        <mapSource>MapQuest</mapSource>
        <mapSource>Mapnik</mapSource>
        <mapSource>MoldovaPointMd</mapSource>
        <mapSource>New Zealand Topographic Maps</mapSource>
        <mapSource>OSM CloudMade 1</mapSource>
        <mapSource>OSMPublicTransport</mapSource>
        <mapSource>OSMapaTopo</mapSource>
        <mapSource>OSMapaTopoContours</mapSource>
        <mapSource>OpenPisteMapBCL</mapSource>
        <mapSource>OpenSeaMap</mapSource>
        <mapSource>OpenSeaMap-Mapnik</mapSource>
        <mapSource>OpenSeaMapDE</mapSource>
        <mapSource>OpenStreetMap Hikebikemap.de</mapSource>
        <mapSource>Turaterkep256</mapSource>
        <mapSource>UMP-pcPL</mapSource>
        <mapSource>USGS National Map Base</mapSource>
        <mapSource>USGS National Map Satellite</mapSource>
        <mapSource>USGS National Map Satellite+</mapSource>
        <mapSource>USGS National Map Topo</mapSource>
        <mapSource>USGS National Map Vector</mapSource>
        <mapSource>cb-enra</mapSource>
        <mapSource>cb-enrh</mapSource>
        <mapSource>cb-enrl</mapSource>
        <mapSource>cb-sec</mapSource>
        <mapSource>cb-tac</mapSource>
        <mapSource>cb-wac</mapSource>
    </mapSourcesEnabled>
    <MapSourcesUpdate/>
    <mapviewCenterCoordinate lat="53.21590163025063" lon="12.884044647216797"/>
    <mapviewGridZoom>16</mapviewGridZoom>
    <mapviewMapSource>AH OpenCycleMap</mapviewMapSource>
    <mapviewSelectionMax>575195648/349110784</mapviewSelectionMax>
    <mapviewSelectionMin>575195648/349110784</mapviewSelectionMin>
    <mapviewZoom>13</mapviewZoom>
    <maxMapSize>65536</maxMapSize>
    <osmHikingTicket></osmHikingTicket>
    <paperAtlas>
        <compression>6</compression>
        <crop>15</crop>
        <dpi>180</dpi>
        <marginBottom>14.173228346456693</marginBottom>
        <marginLeft>14.173228346456693</marginLeft>
        <marginRight>14.173228346456693</marginRight>
        <marginTop>14.173228346456693</marginTop>
        <overlap>14.173228346456693</overlap>
        <compass>true</compass>
        <pageNumbers>true</pageNumbers>
        <scaleBar>true</scaleBar>
        <wgsEnabled>true</wgsEnabled>
        <paperSize>A4</paperSize>
        <wgsDensity>SECOND_1</wgsDensity>
    </paperAtlas>
    <placeBookmarks/>
    <proxyType>CUSTOM</proxyType>
    <selectedZoomLevels>
        <zoomLevel>10</zoomLevel>
        <zoomLevel>11</zoomLevel>
        <zoomLevel>12</zoomLevel>
        <zoomLevel>13</zoomLevel>
        <zoomLevel>14</zoomLevel>
        <zoomLevel>15</zoomLevel>
        <zoomLevel>16</zoomLevel>
    </selectedZoomLevels>
    <tileDefaultExpirationTime>2433148535</tileDefaultExpirationTime>
    <tileImageFormat>PNG</tileImageFormat>
    <tileMaxExpirationTime>31743402975</tileMaxExpirationTime>
    <tileMinExpirationTime>434079772</tileMinExpirationTime>
    <tileSize>256/256</tileSize>
    <tileStoreEnabled>true</tileStoreEnabled>
    <unitSystem>Metric</unitSystem>
    <userAgent>OSMCB/0.0.10</userAgent>
    <version>0.1.12</version>
    <wgsGrid>
        <color>#0000ff</color>
        <compressLabels>false</compressLabels>
        <density>SECONDS_10</density>
        <enabled>true</enabled>
        <font>SansSerif-PLAIN-12</font>
        <width>1.0</width>
    </wgsGrid>
</settings>
