<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <atlasFormatSpecificSettings>
        <garminCustomMaxMapCount>100</garminCustomMaxMapCount>
    </atlasFormatSpecificSettings>
    <bandwidthLimit>0</bandwidthLimit>
    <coordinateNumberFormat>DEG_LOCAL</coordinateNumberFormat>
    <customProxyHost></customProxyHost>
    <customProxyPassword></customProxyPassword>
    <customProxyPort></customProxyPort>
    <customProxyUserName></customProxyUserName>
    <customTileSize>false</customTileSize>
    <devMode>false</devMode>
    <directories>
        <atlasOutputDirectory>C:\Users\Public\Documents\Atlanten</atlasOutputDirectory>
        <tileStoreDirectory>C:\Users\Public\Documents\OSMCB Tiles</tileStoreDirectory>
    </directories>
    <downloadRetryCount>1</downloadRetryCount>
    <downloadThreadCount>2</downloadThreadCount>
    <elementName>L</elementName>
    <googleLanguage>en</googleLanguage>
    <gpxFileChooserDir></gpxFileChooserDir>
    <httpConnectionTimeout>10</httpConnectionTimeout>
    <httpReadTimeout>10</httpReadTimeout>
    <ignoreDlErrors>false</ignoreDlErrors>
    <localeCountry></localeCountry>
    <localeLanguage>en</localeLanguage>
    <mainWindow>
        <size>800/590</size>
        <position>-1452/-251</position>
        <maximized>true</maximized>
        <leftPanelVisible>true</leftPanelVisible>
        <rightPanelVisible>true</rightPanelVisible>
        <collapsedPanels>
            <collapsedPanel>Coordinates</collapsedPanel>
        </collapsedPanels>
    </mainWindow>
    <mapOverlapTiles>1</mapOverlapTiles>
    <mapSourcesDisabled/>
    <mapSourcesEnabled/>
    <MapSourcesUpdate/>
    <mapviewCenterCoordinate lat="49.71560054664116" lon="-4.73236083984375"/>
    <mapviewGridZoom>17</mapviewGridZoom>
    <mapviewMapSource>AH OpenSeaMap - Mapnik</mapviewMapSource>
    <mapviewSelectionMax>519935488/363991552</mapviewSelectionMax>
    <mapviewSelectionMin>519935488/363991552</mapviewSelectionMin>
    <mapviewZoom>9</mapviewZoom>
    <maxMapSize>65536</maxMapSize>
    <osmHikingTicket></osmHikingTicket>
    <paperAtlas>
        <compression>6</compression>
        <crop>15</crop>
        <dpi>96</dpi>
        <marginBottom>22.6</marginBottom>
        <marginLeft>22.6</marginLeft>
        <marginRight>22.6</marginRight>
        <marginTop>22.6</marginTop>
        <overlap>28.2</overlap>
        <compass>true</compass>
        <pageNumbers>true</pageNumbers>
        <scaleBar>true</scaleBar>
        <wgsEnabled>true</wgsEnabled>
        <paperSize>A4</paperSize>
        <wgsDensity>SECOND_1</wgsDensity>
    </paperAtlas>
    <placeBookmarks/>
    <proxyType>CUSTOM</proxyType>
    <selectedZoomLevels>
        <zoomLevel>8</zoomLevel>
        <zoomLevel>9</zoomLevel>
        <zoomLevel>10</zoomLevel>
        <zoomLevel>11</zoomLevel>
        <zoomLevel>12</zoomLevel>
        <zoomLevel>13</zoomLevel>
        <zoomLevel>14</zoomLevel>
        <zoomLevel>15</zoomLevel>
        <zoomLevel>16</zoomLevel>
        <zoomLevel>17</zoomLevel>
    </selectedZoomLevels>
    <tileDefaultExpirationTime>2419200000</tileDefaultExpirationTime>
    <tileImageFormat>PNG</tileImageFormat>
    <tileMaxExpirationTime>31536000000</tileMaxExpirationTime>
    <tileMinExpirationTime>432000000</tileMinExpirationTime>
    <tileSize>256/256</tileSize>
    <tileStoreEnabled>true</tileStoreEnabled>
    <unitSystem>Metric</unitSystem>
    <userAgent>OSMCB/0.0.10</userAgent>
    <version>0.1.12</version>
    <wgsGrid>
        <color>#0000ff</color>
        <compressLabels>false</compressLabels>
        <density>SECONDS_10</density>
        <enabled>true</enabled>
        <font>SansSerif-PLAIN-12</font>
        <width>1.0</width>
    </wgsGrid>
</settings>
